# Payload CMS
PAYLOAD_SECRET=your-secret-here-min-32-chars-long
DATABASE_URL=mongodb://127.0.0.1:27017/die-libertaeren

# Optional: öffentliche URL für absolute Links
NEXT_PUBLIC_SERVER_URL=http://localhost:3010